@media lg
    .sticky-section
        display flex
        align-items flex-start
        justify-content space-around
    .stick
        position -webkit-sticky
        position sticky
        top 10vh
        width 60%