language: node_js
node_js:
  - lts/*

cache:
  directories:
    - "node_modules"

branches:
  only:
  - master

install:
  - npm run docs:build
  - npm run move

script:
  - echo "Skipping tests"

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  repo: ClarkMitchell/blog
  local_dir: dist
  on:
    branch: master